.errorMsg{
	
	color: red;
}
.successMsg{
	color:green;
}
a.tooltip {
	outline: none;
	text-decoration: none;
}

a.tooltip strong {
	line-height: 30px;
}

a.tooltip:hover {
	text-decoration: none;
}

a.tooltip span {
	z-index:10 ;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 28px;
	width: 220px;
	line-height: 16px;
	text-align: justify;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}


.readOnlyClass{
	background-color: #ffffb3;
	pointer-events:none;
	
}



.WrapClass{
	word-wrap: break-word;
}
