
@charset "utf-8";
/* CSS Document */

ul.reportTab {list-style:none; margin:0; padding:0}
ul.reportTab * {margin:0; padding:0}
ul.reportTab a {display:block; color:#000; text-align:center;text-decoration:none}
ul.reportTab li {position:relative; float:left; margin-right:0px}
ul.reportTab ul {position:absolute; top:30px; background:#d1d1d1; width:185px; display:none; opacity:0; list-style:none}
ul.reportTab ul li {position:relative; border:1px solid #aaa; border-top:none; width:184px;  margin:0}
ul.reportTab ul li a {display:block; padding:3px 2px 5px; background-color:#024659; color:#fff;}
ul.reportTab ul li a:hover {background-color:#65bcd4; color:#000;}
ul.reportTab ul ul {left:184px; top:0px; }
ul.reportTab .menulink {border:0px solid #aaa; padding:6px 3px 10px; background-color:#bceefc; width:180px; }
ul.reportTab .menulink:hover, ul.reportTab .menuhover { background-color:#2487a2; width:180px; }
ul.reportTab .sub {background:#d1d1d1 url(../images/arrow.gif) 136px 8px no-repeat}
ul.reportTab .topline {border-top:1px solid #aaa;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#e1dfe0;
	
}
body {font:12px Arial; }
.bgtext1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 0px 5px 0px;
	color:#fff;
	text-align:left;
	font-weight:bold;	
}
.bgtext11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 0px 5px 0px;
	color:#fff;
	text-align:center;
	font-weight:bold;	
}

.bgtext2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:10px 0px 10px 0px;
	color:#000;
	text-align:left;	
}
.bgtext3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:10px 0px 10px 0px;
	color:#000000;
	text-align:center;
	background-color:#87cce0;	
}
.bgtext4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:justify;	
}
.grad {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	color:#000000;
	text-align:center;
	font-weight:bold;
	background: -webkit-linear-gradient(#b6eaf8, #50a9c3);
  	background: -o-linear-gradient(#b6eaf8, #50a9c3);
  	background: -moz-linear-gradient(#b6eaf8, #50a9c3);
  	background: linear-gradient(#b6eaf8, #50a9c3);
} 
.grad2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:10px 0px 10px 0px;
	color:#000000;
	text-align:center;
	font-weight:bold;
	background: -webkit-linear-gradient(#f1f3f3, #d6d7d7);
  	background: -o-linear-gradient(#f1f3f3, #d6d7d7);
  	background: -moz-linear-gradient(#f1f3f3, #d6d7d7);
  	background: linear-gradient(#f1f3f3, #d6d7d7);
} 
.grad1 {
	
	background: -webkit-linear-gradient(left, #087b9a , #434343);
    background: -o-linear-gradient(right, #087b9a, #434343);
    background: -moz-linear-gradient(right, #087b9a, #434343); 
    background: linear-gradient(to right, #087b9a , #434343);
}
.arrw_txt{
	padding:3px 0px 3px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-align:left;
}
.arrw_txt1{
	padding:3px 0px 3px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	line-height:25px;
	text-decoration:underline;
	text-align:left;
}
.arrw_txt1:hover{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#064557;
	text-decoration:underline;
	text-align:left;
}
.logd1 {
	font-size: 12px;
	color: #015f7a;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
}
.logd {
	font-size: 12px;
	color: #015f7a;	
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:bold;	
}
.logd:hover {
	font-size: 12px;
	color: #064557;	
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:bold;
	}
.text {
	font-size: 16px;
	color: #015f7a;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-bottom:15px;
	padding-left:40px;	
}
.text1 {
	font-size: 14px;
	color: #010101;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	line-height:25px;
	padding-left:40px;	
	padding-right:40px;
}
.text2 {
	font-size: 14px;
	color: #015f7a;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-left:20px;	
	text-decoration:underline;
}
.text2:hover {
	font-size: 14px;
	color: #064557;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;	
	text-decoration:underline;
	
}
.hedr {
	font-size: 13px;
	color: #010101;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	padding-right:40px;
	padding-top:15px;
}
.bg{
	background-image:url(../images/bg.png);
	height:70px;
	width:auto;
}

.logn_bg
{
	background-image:url(../images/login-bg.png);
	width:304px;
	height:315px;
	background-repeat:no-repeat;
}

.Bodytxt {
	font-size: 12px;
	color: #000000;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:bold;
	padding-left:20px;		
}

.f-pwd 	{ 
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
	text-decoration:underline;
}
.f-pwd:hover 	{ 
	text-decoration:underline;
	color:#015f7a;
}
.ipm_n{
	padding:3px 0px 3px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
	font-size:12px;
	line-height:20px;
	text-overflow: ellipsis;
}
.ipm_n1{
	padding:3px 0px 3px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
	font-size:12px;
	line-height:25px;
}
.ipm_n2{
	padding:3px 0px 3px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-align:left;
	padding-left:5px;
	font-size:12px;
	line-height:20px;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
	/* word-break:break-all; */
}
.bg1{
	background-color:#dadada;

}
.bg2{
	background-color:#f0f0f0;
	line-height:25px;
}

.form-control{
	display:compact;
	width:25%;
	height:25px;
	padding:0px 0px;
	font-size:14px;
	
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}


.drop_menu {
	background:#bceefc;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:8px 20px;
	width:151px;
	display:block;
	text-align:center;
	color:#000;
	text-decoration:none;
	font:12px arial;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#2487a2; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#5FD367;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#5FD367;
}
.drop_menu li:hover ul li a:hover { background:#005555; }



ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-align:center;text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:0px}
ul.menu ul {position:absolute; top:30px; background:#d1d1d1; width:185px; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:184px;  margin:0}
ul.menu ul li a {display:block; padding:3px 2px 5px; background-color:#024659; color:#fff;}
ul.menu ul li a:hover {background-color:#65bcd4; color:#000;}
ul.menu ul ul {left:184px; top:0px; }
ul.menu .menulink {border:0px solid #aaa; padding:6px 3px 10px; background-color:#bceefc; width:180px; }
ul.menu .menulink:hover, ul.menu .menuhover { background-color:#2487a2; width:180px; }
ul.menu .sub {background:#d1d1d1 url(../images/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa;}


/*begin:- added by KD 01032016*/

.drop_menu_new {
	background:#bceefc;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu_new li { float:left; }
.drop_menu_new li a {
	padding:8px 20px;
	width:280px;
	display:block;
	text-align:center;
	color:#000;
	text-decoration:none;
	font:12px arial;
}

/* Submenu */
.drop_menu_new ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu_new li:hover { position:relative; background:#2487a2; }
.drop_menu_new li:hover ul {
	left:0px;
	top:30px;
	background:#5FD367;
	padding:0px;
}

.drop_menu_new li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#5FD367;
}
.drop_menu_new li:hover ul li a:hover { background:#005555; }


.newAcct_btn 
{
	background: yellow url(../images/new_Account.png) 250px 8px no-repeat;
	/*background-image:url(../images/new_Account-hover.png);*/	
}
.newAcct_btn:hover 
{
	background:#d1d1d1 url(../images/new_Account-hover.png) 136px 8px no-repeat;
	/*background-image:url(../images/new_Account-hover.png);*/
}


/*end:-  added by KD 01032016*/
/*begin:-  added by KD 03032016*/

.drop_menu_admin {
	background:#bceefc;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu_admin li { float:left; }
.drop_menu_admin li a {
	padding:8px 20px;
	width:200px;
	display:block;
	text-align:center;
	color:#000;
	text-decoration:none;
	font:12px arial;
}

/* Submenu */
.drop_menu_admin ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu_admin li:hover { position:relative; background:#2487a2; }
.drop_menu_admin li:hover ul {
	left:0px;
	top:30px;
	background:#5FD367;
	padding:0px;
}

.drop_menu_admin li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#5FD367;
}
.drop_menu_admin li:hover ul li a:hover { background:#005555; }

/*end:-  added by KD 03032016*/



.selected
{
	background-color: #2487a2;
}