#Container_Fatca {
	/* margin-left: 15%;
	margin-right: 15%; */
	width: 100%;
	/* border: 1px solid black; */
	height: auto;
}

#headers_Fatca {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
}

#logo_Fatca {
	width: 25%;
	float: left;
	height: 100px;
	background-image: url("../Images/Fatca.jpg");
	background-repeat: no-repeat;
}

#titleslogo_Fatca {
	width: 60%;
	float: left;
	height: 100px;
	font-family: cursive;
	font-size: x-large;
}

#titles_Fatca {
	width: 50%;
	float: left;
	height: 100px;
}

#loggedUser_Fatca {
	width: 25%;
	float: right;
	height: 100px;
}

#ContainerBody {
	margin: 0px;
	padding: 0px;
	height: 450px;
	width: 100%;
}

#ContainerBodyLeft_Fatca {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 70%;
	height: 450px;
}

#ContainerBodyRight_Fatca {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 30%;
	height: 450px;
	overflow: auto;
}

#Registration {
	border: 1px solid black;
	height: 385px;
	padding: 10px;
}

.td_padding {
	padding-left: 10px;
	color: #333;
	font-size: 12px;
}

#footer_Fatca {
	width: 100%;
	height: 30px;
	background-color: #044F69;
}

#loginTable_Fatca {
	margin-top: 40px;
}

.font_Fatca {
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
}

.required_Fatca {
	color: red;
}

.loginTextBox_Fatca {
	width: 40%;
}

#innerLoginDiv_Fatca {
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 40px;
	width: 90%;
	height: auto;
	border: 1px solid black;
}

#powerby_Fatca {
	text-align: right;
	float: right;
}

.indexparagraph_Fatca {
	margin-left: 2px;
}

.indexLink_Fatca {
	color: #2AC4F7;
}

.width_25 {
	width: 25%;
}

.width_50 {
	width: 50%;
	float: right;
}

.width_75 {
	width: 75%;
}

#EmailAuthnticTable {
	border: 1px solid black;
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
	margin-left: 9%;
	margin-right: 9%;
	margin-top: 20px;
}

.fontmargin_registeration {
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
	margin: 2px;
}
/* Welcome Page CSS */
#WelcomeContainerBodyLeft {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 28%;
	height: 350px;
}

#WelcomeContainerBodyRight {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 68%;
	height: 350px;
	overflow: auto;
}

#helpUrl {
	margin-left: 10px;
	margin-right: 2px;
	width: 90%;
	border: 1px solid black;
	margin-top: 30px;
	height: 200px;
}

#helpUrlHeader {
	margin: 0px;
	width: 100%;
	height: 15px;
	border-bottom: 1px solid black;
}

#helpUrlBody {
	margin: 0px;
	width: 100%;
	height: 180px;
}

#helpUrlBody p {
	margin-left: 4px;
}

#editInformation {
	margin-left: 10px;
	margin-right: 10px;
	width: 80%;
	margin-top: 10px;
	height: 30px;
}

#powerbylogo_Fatca {
	float: right;
}

#copyright {
	float: left;
}

.Login_Label {
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
}

.Login_Button {
	text-align: center;
}
#captcha
{
	width: 130px;
}
.width_20 {
	width: 20%;
	text-align: center;
}


#navigation {
	width: 100%;
	background: #9FC4F8;
	height: 30PX;
}

#navigation ul {
	list-style-type: none;
	margin: 0px;
}

#navigation li {
	float: left;
}

#navigation ul:before {
	content: '';
	display: block;
}

#navigation ul:after {
	content: '';
	display: table;
	clear: both;
}

#navigation a:link, #navigation a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	/* background-color: #98bf21;*/
	text-align: center;
	/*padding: 4px;*/
	text-decoration: none;
	text-transform: uppercase;
	/*border-radius: 4px 25px;*/
	color: Black;
}

#navigation a:hover, #navigation a:active {
	/* color: #586835; */
	text-shadow: 0 1px 1px;
}

#navigation li:hover {
	background-color: #7F9CC6;
	color: black;
}


/* registration Form  */
#registration_2 {
	border: 1px solid black;
	height: auto;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
}

#RegistrationContainerBody {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.fieldset {
	border: 1px solid black;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
}

.fieldset_header {
	background-color: #9FC4F8;
	color: black;
	font-family: cursive;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100;
	height: 20px;
}
.label_font {
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
}
.registrationTableInput {
	width: 30%;
}
.registrationTableLabel {
	width: 20%;
	color: #333;
	outline: none;
	font-family: Arial;
	font-size: 12px;
}
.ContainerBodyCenter
{
	margin: 20px;
	border: 1px solid black;
}